<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="user.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="First name"
               required #firstName="ngModel">
      </div>
      <div [hidden]="!firstName.pristine" class="alert alert-danger">First name is required</div>
      <div class="form-group">
        <label for="lastName">First Name</label>
        <input type="text" [(ngModel)]="user.lastName"
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Last name"
               required #lastName="ngModel">
      </div>
      <div [hidden]="!lastName.pristine" class="alert alert-danger">Last name is required</div>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" [(ngModel)]="user.username"
               class="form-control"
               id="username"
               name="username"
               placeholder="Email"
               required #username="ngModel">
      </div>
      <div [hidden]="!username.pristine" class="alert alert-danger">Email is required</div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Password"
               required #password="ngModel">
      </div>
      <div [hidden]="!password.pristine" class="alert alert-danger">Password is required</div>

      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
